.prod img {
    width: 500px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    block-size: auto;
}

.prod .descript {
    text-align: center;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#light .prod {
    color: black;
}

#dark .prod {
    color: white;
}

.prod .about {
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 25px;
    width: fit-content;
    
}

#light .prod .about {
    color: black;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#dark .prod .about {
    color: white;
    box-shadow: 0px 3px 15px black;
}

.addToCartBttn {
    background-color: transparent;
    border: 1px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px; 
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

.wishlist {
    padding-right: 20px;
     
}

#light .wishlist {
    color: grey;
}

#light .wishlist:hover {
    color: black;
}

#dark .wishlist {
    color: lightgrey;
}

#dark .wishlist:hover {
    color: grey;
}

.heading {
    padding-bottom: 10px;
}
.comment {
    display: grid;
    place-items: left;
    text-align: left;
    justify-content: left;
    width: fit-content;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.commenter {
    font-size: 17px;
    padding-bottom: 10px;
}

#dark .comment {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.offerTrigger {
    width: 110px;
    height: 35px;
    background-color: transparent;
    color: black;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

#dark .offerTrigger {
    color: white;
    border: 1px solid white;
}

#light .offerTrigger:hover {
    background-color: black;
    color: white;
}

#dark .offerTrigger:hover {
    background-color: white;
    color: black;
}

.offerModal,
.stockModal {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.offerModal .offerHeader,
.stockModal .stockHeader {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.712);
    font-size: 18px;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
}

.offerModal .offerContent,
.stockModal .stockContent {
    width: 100%;
    padding: 10px 5px;
    padding-top: 25px;
    text-align: center;
}

.offerModal .offerClose,
.stockModal .stockClose {
    position: absolute;
    right: 3px;
    top: 1px;
    transform: scale(1.2);
}

.offerModal .offerContent .offer,
.stockModal .stockContent .stock {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}

.offerModal .offerContent .offer:focus,
.stockModal .stockContent .stock:focus {
    border: 2px solid white;
}

.stockButton {
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    color: grey;
    outline-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.stockButton:hover {
    background-color: rgba(0, 0, 0, 0.041);
}

.noStock button {
    width: 110px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.stock {
    padding-bottom: 10px;
}