.shopTitle {
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#light .shopTitle {
    color: black;
}

#dark .shopTitle {
    color: white;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.product {
    border-radius: 15px;
    width: 200px;
    height: 300px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product img {
    width: 250px;
    vertical-align: bottom;
}

.product .description {
    display: flex;
    text-align: center;
}

#light .product {
    color: black;
}

#dark .product {
    color: white;
}

.product:hover {
    transform: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px; 
}

#light .addToCartBttn {
    border: 2px solid black;
    color: black
}

#dark .addToCartBttn {
    border: 2px solid white;
    color: white;
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

#light .addToCartBttn:hover {
    background-color: black;
    color: white;
}

#dark .addToCartBttn:hover {
    background-color: white;
    color: black;
}

.wishlist {
    padding-right: 20px;
     
}

#light .wishlist {
    color: grey;
}

#light .wishlist:hover {
    color: black;
}

#dark .wishlist {
    color: lightgrey;
}

#dark .wishlist:hover {
    color: grey;
}


