.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#light .navbar {
    background-color: black;
}

#dark .navbar {
    background-color: black;
}

.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}

#light .links a {
    color: white;
}

#dark .links a {
    color: white;
}